/** @format */
@import '../../styles/variables.scss';

.side-menu-container {
  width: 200px;
  height: 100vh;
  padding-top: 50px;
  background: linear-gradient(180deg, #102f77 0%, #306fff 100%);
  color: #ffffff;
  overflow-y: auto;
  .logo {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 40px;
    letter-spacing: 0.1px;
    color: #f2f2f2;
    padding: 0 0px 0px 40px;
    .logo-img {
      width: 110px;
      background: white;
      padding: 10px;
    }
  }
  .menu-items {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    font-family: 'Roboto-Italic';
    ul {
      padding-left: 20px;
      position: relative;
      li {
        cursor: pointer;
        padding: 5px 0px;
        font-family: 'Roboto-Italic';
      }
    }
    .menu-heading {
      color: #ffffff;
    }
    .menu-comming-soon {
      color: #f4cf60;
    }
    .menu-item {
      display: flex;
      grid-gap: 20px;
      cursor: pointer;
      align-items: center;
      padding: 5px 0px 5px 40px;
      .menu-name {
        font-style: normal;
        cursor: pointer;
        font-weight: 600;
        font-size: 18px;
        line-height: 24px;
        letter-spacing: 0.1px;
        color: #ffffff;
      }
    }
    .li:hover {
      background: #306fff;
    }
    .menu-item-active {
      background: #102f77;
    }
  }
  .logout-section {
    position: fixed;
    bottom: 10px;
  }
  .user-menu-container {
    display: flex;
    align-items: center;
    padding: 5px 0px 5px 40px;
  }
}

.comming-soon {
  position: absolute;
  transform: rotate(335deg);
  color: red;
  top: 20px;
  font-size: 20px;
  left: 28px;
  background: white;
  z-index: 1;
}
