.issue-raising-info {
  .title {
    font-weight: bold;
    font-size: 18px;
    padding-bottom: 10px;
  }
  .issue-raising-info-list {
    display: grid;
    grid-gap: 30px;
  }
  .issue-raising-info-card {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
      rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
    padding: 10px;
    display: flex;
    grid-gap: 30px;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    height: 40px;
    // color: #c3c3c3;
    .icon-c {
      display: flex;
      align-items: center;
    }
    .count {
      font-size: 12px;
      font-weight: 100;
    }
    .icon-label {
      display: flex;
      grid-gap: 5px;
      align-items: center;
      padding-left: 10px;
      .data-label {
        display: flex;
        flex-direction: column;
        grid-gap: 5px;
        font-size: 12px;
        font-weight: 100;
        .sub-title{
          
        }
      }
    }
  }
}
