.india-map-card-container {
  box-shadow: 4px 4px 8px 4px rgba(0, 0, 0, 0.2);
  padding: 10px;
  .title {
    font-weight: bold;
    font-size: 18px;
    padding-bottom: 10px;
  }
  .jvectormap-container {
    height: 500px;
  }
  .india-map-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
