@import "../../styles/responsive.scss";
@import "../../styles/variables.scss";
.mailingList-container {
  max-width: 1440px;
  margin: auto;
  .button-div {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
    .button {
      background-color: "#0063cc";
    }
  }
  .filters-row {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    grid-gap: 20px;
    margin-bottom: 20px;
  }
  .si-row {
    grid-template-columns: 1fr 1fr 1fr 1fr 0.2fr;
  }
  .clickable {
    cursor: pointer;
    color: #306fff;
  }
  .si-table-container {
    .si-row {
      grid-template-columns: 9fr 1fr;
    }
  }
}
