.recruitment-form-container {
  padding: 20px;
  max-width: 600px;
  background: white;
  box-shadow: #0000005e 0px 5px 15px;
  margin: 10px;
  margin: auto;
  .form-row {
    display: flex;
    justify-content: space-between;
    height: 60px;
    align-items: center;
  }
  .form-center {
    display: flex;
    justify-content: center;
    height: 60px;
    align-items: center;
  }
  .u-text {
    font-weight: bold;
    text-decoration: underline;
  }
  .input-form-center {
    display: flex;
    justify-content: center;
    flex-direction: column;
    grid-gap: 20px;
    align-items: center;
  }
  .input-form-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    grid-gap: 20px;
  }
  .fitment-details-table {
    .f-row {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      min-height: 60px;
    }

    .f-col {
      display: flex;
      justify-content: center;
      border: 1px solid black;
      align-items: center;
      padding: 10px;
    }
  }
  .button-container {
    padding: 20px;
  }
  .request-details {
    display: flex;
    flex-direction: column;
    grid-gap: 20px;
  } 
  .form-header {
    display: flex;    
    justify-content: space-between;
    border-bottom: 1px solid lightgray;
    padding-bottom: 10px;
    .l-c {
      display: flex;
      flex-direction: column;
    }
    .form-logo {
      width: 160px;
    }
  }
}

.signature-container{
  display: flex;
  flex-direction: column;
  background-color: lightcyan;
  padding: 10px;
  width: 180px;
  .signature-img{
    width: 160px;
    background-color: lightcyan;
  }
  margin: 10px;
}
.signature-list{
  display: flex;  
}