@import "../../styles/responsive.scss";
@import "../../styles/variables.scss";

.oem-container {
  max-width: 1440px;
  margin: auto;
  .button-div {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
    .button {
      background-color: "#0063cc";
    }
  }

  .filters-row {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    grid-gap: 20px;
    margin-bottom: 20px;
  }
  .si-row {
    grid-template-columns: 1fr 1fr 1fr 1fr 0.2fr;
  }
  .clickable {
    cursor: pointer;
    color: #306fff;
  }
  .si-table-container {
    .si-row {
      grid-template-columns: 2fr 2fr 2fr 2fr 1fr;
    }
    @include respond-to("small") {
      .si-row {
        grid-template-columns: 2fr 2.5fr 0.5fr;
      }
    }
  } 
}
.oem-drop-downs-c{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
